<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bookle</title>
  <style>
    .che-log {
      margin: 0px;
    }
  </style>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'materialize' %>
</head>
<body>
<nav class="light-gray lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Bookle</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Войти</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">О нас</a></li>
    </ul>
  </div>
</nav>
<table>
  <tr>
    <td>
      <h1 class="header">Что это?</h1>
      <hr>
      <p>Вы на странице школьного проекта, который позволит помочь сделать работу школы легче, а учебу интереснее.
        Open-source проекта, а так же использование бесплатных решений позволяет "расшарить" подобную систему в Вашей
        школе лишь по цене оборудования (256 MB Ram).
        "Поднять" сервер можно и на микроконтроллере за 5$, и на старом смартфоне. К тому же, подробная инструкция (в
        разработке) и простая установка позволяют начать пользоваться проектом в течение 10-15 минут. </p>
    </td>
  </tr>
  <tr>
    <td><h1 class="header">Как это работает?</h1>
      <hr>
      <p>С помощью специального приложения на Android библиотекарь сканирует название и автора книги, а так же
        оглавление. Далее можно быстро найти нужную книгу и получить её расположение.</p>
    </td>
  </tr>
  <tr>
    <td><h1 class="header">Разработка</h1>
      <hr>
      <p>Пока данный проект находиться в разработке, но я стараюсь! :) Проследить за ходом развития проекта можно на
        моем <a href="https://github.com/LionZXY/BookleWeb">GitHub</a></p>
    </td>
  </tr>
  <tr>
    <td><h1 class="header">Плюсы:</h1>
      <hr>
      <p class="che-log">
        - Уменьшает затраты библиотеки (Сразу понятно, какая книга не нужная, а какие требуются спросом)</p>
      <p class="che-log">
        - Позволяет отслеживать интересы школьников</p>
      <p class="che-log">
        - Уменьшает пиратство (У школьников будет проверенный и лицензионный способ удобно получить книгу)</p>
      <p class="che-log">
        - Ограждает от лишней информации </p>
      <p class="che-log">
        - Повышает у школьников заинтересованность в компьютерных технологиях (Установку системы можно отдать школьнику, а это и первое знакомство с Unix, и первое знакомство с RubyOnRails)</p>
      <p class="che-log">
        - Позволяет создать единую информационную сеть (На главной страничке можно создать колонку новостей)</p>
      <p class="che-log">
        - Отправлять анонимные запросы директору (Будет удобный способ сообщить анонимно информацию директору)</p>
    </td>
  </tr>
  <tr>
    <td><h1 class="header">TODO</h1>
      <hr>
      <p class="che-log">
        - Глобальная версия (Электроные версии книг и мониторинг ближайших библиотек)</p>
      <p class="che-log">
        - Интеграция с крупнейшими магазинами/каталогами книг</p>
      <p class="che-log">
        - Внутришкольная версия с электронными книгами</p>
      <p class="che-log">
        - Интеграция с внутришкольной системой аутентификации школьников (Arduino NFC)</p>
      <p class="che-log">
        - Возможность "мультизапроса" (Поиск оптимального сборника рассказов)</p>
    </td>
  </tr>
</table>
</body>
</html>