<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bookle</title>
  <%= stylesheet_link_tag 'materialize' %>
</head>
<body>
<%= render 'layouts/head'%>
<table col="3" width="100%" >
  <tr>
    <td height="60%" width="20%"></td>
    <td height="60%" width="60%"><img class="imgMy" width="100%" height="60%" src=<%= image_url "bookle-logo-#{Random.new.rand(18)}.png"%>></td>
    <td height="60%" width="20%"></td>
  </tr>
  <tr>
    <td height="50%" width="20%"></td>
    <td height="50%" width="60%"><div id="main">
      <form action="search" method="get" class="customForm">
        <div class="input">
          <input type="text" id="text" name="srch"/>
        </div>
      </form>
    </div></td>
    <td height="50%" width="20%"></td>
  </tr>
</table>
<%= render 'layouts/down' %>
</body>
</html>