<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bookle</title>
  <%= stylesheet_link_tag 'materialize' %>
</head>
<body>
<%= render 'layouts/head'%>
<a href="/api?method=destroy&token=<%=cookies[:token].nil? ? 'lol' : cookies[:token]%>">Logout</a>
<%= render 'layouts/down' %>
</body>
</html>