<nav class="light-gray lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Bookle</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Войти</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about_us">О нас</a></li>
    </ul>
  </div>
</nav>